@import '../../../styles/shared.scss';

.products-title {
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 6.4rem;
}

.products-card-container {
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-content: center;
}
