@import '../../../styles/shared.scss';

.products-title {
  font-weight: bold;
  font-size: 3.5rem;
  color: $accent-color;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 6.4rem;
}

.products-card-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card {
  grid-column: 2fr;
}
