.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 2rem 1.6rem;
  height: 100%;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  cursor: zoom-in;
  max-height: 14.4rem;
}

.zoomed-image-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: zoom-out;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.zoomed-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  text-align: center;
  padding-bottom: 1.8rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 2rem;
}

.order-button {
  padding: 1.6rem 8rem;
}
