<header class="header grid shadow">
  <div class="logo-container">
    <img src="../../../../assets/img/logo.png" alt="pizza cheff logo" />
    <p class="logo-text primary">Pizza<br />Cheff</p>
  </div>

  <button class="mobile-menu" (click)="toggleMobileMenu()">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </button>

  <div class="links-container" *ngIf="mobileMenuShow | async">
    <button class="close-btn" (click)="toggleMobileMenu()">Закрыть</button>
    <a href="#" class="header-link">Пиццы</a>
    <a href="#" class="header-link">Напитки</a>
    <a href="#" class="header-link">Доставка и&nbsp;оплата</a>
    <a href="#" class="header-link">Контакты</a>
  </div>
</header>
