@import '../../../styles/shared.scss';

.header {
  height: 100px;
  box-shadow: 0px 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  align-items: center;
  margin-bottom: 14.4rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  color: $primary-color;
  margin-left: 1.2rem;
}

.links-container {
  grid-column: col-start 5 / span 7;
}

.header-link {
  color: $accent-color;
  font-size: 1.6rem;

  &:nth-child(n + 2) {
    margin-left: 4.8rem;
  }
}
