@import '../../../styles/shared.scss';

.order {
  margin-top: 24rem;
  margin-bottom: 13.2rem;
  position: relative;
}

.text-container {
  grid-column: col-start 1 / span 4;
}

.title {
  font-size: 3.6rem;
}

.description {
  margin-top: 7.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.form {
  grid-column: col-start 6 / span 4;
  z-index: 1;
}

.input {
  width: 100%;
  padding: 24px;
  margin-bottom: 2.4rem;
  border: 1px solid $accent-color;
  color: $primary-color;
  font-size: 1.8rem;

  &::placeholder,
  &::-ms-input-placeholder {
    color: $accent-color;
    opacity: 0.5;
    font-size: 1.8rem;
  }
}

.order-button {
  padding: 2.4rem 0;
  min-width: 100%;
  text-align: center;
}

.pizza-img {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translate(-20%, -50%);
  z-index: 0;
}

.order-complete-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: cl;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.order-complete-title {
  position: fixed;
  color: $primary-color;
  background-color: #fff;
  padding: 2.4rem 4.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

@media screen and (max-width: 1300px) {
  .text-container {
    grid-column: col-start 1 / span 6;
  }

  .form {
    grid-column: col-start 7 / span 12;
  }

  .pizza-img {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .text-container {
    grid-column: span 12;
  }

  .form {
    grid-column: span 12;
  }
}
