@import '../../../styles/shared.scss';

.title {
  font-size: 4.4rem;
}

.main-container {
  align-items: center;
  position: relative;
}

.text-container {
  grid-column: span 6;
}

.advantages-container {
  margin-top: 60px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.advantage-description {
  max-width: 21.2rem;
}

.pizza-img {
  grid-column: col-start 8 / span 5;
}

@media screen and (max-width: 1300px) {
  .pizza-img {
    position: absolute;
    right: -50%;
    transform: translateX(50%) scale(2);
  }

  .text-container {
    grid-column: span 10;
  }
}

@media screen and (max-width: 840px) {
  .pizza-img {
    display: none;
  }

  .text-container {
    grid-column: span 12;
  }

  .advantages-container {
    grid-template-columns: 1fr;
  }

  .advantage-description {
    max-width: 44rem;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}
