<section class="main-container grid">
  <div class="text-container">
    <h2 class="title accent">Самая вкусная пицца в&nbsp;мире</h2>
    <h2 class="title primary">только в&nbsp;Pizza Cheff</h2>

    <div class="advantages-container">
      <pizza-cheff-advantage-card class="main-advantage">
        <img
          src="../../../assets/icons/hop.png"
          alt="hop icon"
          class="advantage-icon"
        />

        <h4 class="advantage-title">Лучшее тесто</h4>
        <p class="advantage-description">
          Мы&nbsp;создаем тесто только из&nbsp;отборной итальянской муки
          наивысшего качества
        </p>
      </pizza-cheff-advantage-card>

      <pizza-cheff-advantage-card>
        <img
          src="../../../assets/icons/kitchen-pack.png"
          alt="hop icon"
          class="advantage-icon"
        />

        <h4 class="advantage-title">Лучшие повара</h4>
        <p class="advantage-description">
          Пиццы готовят самые профессиональные итальянские повара
        </p>
      </pizza-cheff-advantage-card>

      <pizza-cheff-advantage-card>
        <img
          src="../../../assets/icons/seo-and-web.png"
          alt="hop icon"
          class="advantage-icon"
        />

        <h4 class="advantage-title">Гарантия качества</h4>
        <p class="advantage-description">
          Наша пиццерия получила множество наград и&nbsp;признаний по&nbsp;всему
          миру
        </p>
      </pizza-cheff-advantage-card>

      <pizza-cheff-advantage-card>
        <img
          src="../../../assets/icons/serve.png"
          alt="hop icon"
          class="advantage-icon"
        />

        <h4 class="advantage-title">Отборные рецепты</h4>
        <p class="advantage-description">
          Мы&nbsp;используем рецепты от&nbsp;мировых лидеров в&nbsp;изготовлении
          пиццы
        </p>
      </pizza-cheff-advantage-card>
    </div>

    <a href="#products" class="button">Выбрать пиццу</a>
  </div>

  <img
    class="img pizza-img"
    src="../../../assets/img/pizza_circle.png"
    alt="pizza"
  />
</section>
