@font-face {
  font-family: 'Muller';
  font-weight: normal;
  src: url('../../src/assets/fonts/Muller/Muller Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Muller';
  font-weight: bold;
  src: url('../../src/assets/fonts/Muller/Muller Black.ttf') format('truetype');
}
