@import './grid.scss';
@import './fonts.scss';
@import './reset.scss';
@import './colors.scss';

.button {
  background-color: $primary-color;
  display: inline-block;
  padding: 2.8rem 5.6rem;
  color: $dark-color;
  font-size: 1.6rem;
  font-weight: bold;
}

.img {
  width: 100%;
  height: auto;
}
